body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
  color: black;
  background-color: lightblue;
  font-size: 150%;
}

main, header, footer {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}

header, footer {
  text-align: center;
}

body main figure {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

body main figure img {
  max-width: 90%;
  height: auto; 
  width: 300px;
}

body main figure figcaption {
  font-style: italic;
  font-size: 14px;
  font-weight: 350;
}

a {
  color: #7D3C98;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 550;
}
#slideshow {
  display: inline-block; 
  text-align: center; 
}

#slide-img {
  max-width: 70%; 
  height: auto; 
  margin: 0 auto; 
  display: block; 
}

.center {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

h2 {
  margin-bottom: 20px;
  font-size: 21px;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  font-size: 19px;
  text-align: center;
}

footer div {
  margin-top: 15px;
}

nav a:hover, footer a:hover {
  color: crimson;
  text-decoration: line;
}

footer em {
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 1.5px;
}

footer {
  margin-top: 80px;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

header nav a {
  padding-left: 2px;
  padding-right: 2px;
}

main {
  min-height: 50vh;
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

hr {
  border: none;
  height: 4px;
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgba(0, 212, 255, 0) 0%, rgba(7, 58, 153, 1) 27%, rgba(7, 58, 153, 1) 50%, rgba(7, 58, 153, 1) 75%, rgba(0, 212, 255, 0) 100%);
}


ol {
  margin: 0 auto;
  width: 45%;
  text-align: left;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #5c3696;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #c5c1c1;
}

tr:hover {
  background-color: #e6e6e6;
}

caption {
  font-weight: bold;
  margin: 10px 0;
}
.image-section {
  text-align: center;
  margin: 20px 0;
}

.centered-image {
  display: block;
  margin: 0 auto;
  max-width: 100%; 
  height: auto;
}

.centered-caption {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

.department {
  background-color: #5c3696;
  color: white;
}

@media screen and (min-width: 1201px) {
  body {
    font-size: 150%;
  }
  main {
    width: 90%;
    max-width: 1200px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    font-size: 130%;
  }
  main {
    width: 95%;
  }
  th, td {
    padding: 2px;
    max-height: 30px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 110%;
  }
  main {
    width: 100%;
  }
  header nav {
    flex-direction: column;
    align-items: center;
  }
  body main figure img {
    width: 100%;
  }
  th, td {
    padding: 2px;
    max-height: 30px;
    font-size: 0.8rem;
    text-align: center;
  }
}
















