body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
  color: black;
  background-color: lightblue;
  font-size: 150%;
  
}
main, header, footer {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;

}
header, h2, footer {
  text-align: center;
}
body main figure{
  margin: 0 auto;
  width: 90%;
  text-align: center;

}
body main figure img {
  width: 300px;
}

body main figure figcaption{
  font-style: italic;
  font-size: 14px;
  font-weight: 350;
}
a {
  color:#7D3C98;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 550; 


}
.center {
  text-align: center;
  font-weight: normal;
  font-size: 16px;

}
h1 {
  font-size: 24px;

}
footer div {
  
  margin-top: 15px;
}
nav a:hover, footer a:hover {
    color: crimson;
    text-decoration: line;
}
footer em{
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 1.5px;

}
footer{
  margin-top: 80px;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}

main{
  min-height: 50vh;
}
hr {


  border: none;
  height: 4px;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,0) 0%, rgba(7,58,153,1) 27%, rgba(7,58,153,1) 50%, rgba(7,58,153,1) 75%, rgba(0,212,255,0) 100%);
  
}














