<img src="images/logo.png" alt="AAPANC Logo" id="logo">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="projects.html">Projects &amp; Events</a></li>
                <li><a href="get-involved.html">Get Involved</a></li>
                <li><a href="gallery.html">Media Gallery</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>